.bg-plus-80 {
    background-color: #00CC00!important;
    color: black!important;
}
.bg-plus-50 {
    background-color: #66DD66!important;
    color: black!important;
}
.bg-plus-25 {
    background-color: #99FF99!important;
    color: black!important;
}
.bg-plus-00 {
    background-color: #CCFFCC!important;
    color: black!important;
}
.bg-minus-25 {
    background-color: #F5B7B1!important;
    color: black!important;
}
.bg-minus-50 {
    background-color: #EC7063!important;
    color: white!important;
}
.bg-minus-75 {
    background-color: #ff0000!important;
    color: white!important;
}
.bg-minus-end {
    background-color: #990000 !important;
    color: white!important;
}